beautifulsoup4==4.10.0
blis==0.7.5
brotlipy==0.7.0
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
cymem==2.0.6
dataclasses==0.8
en-core-web-sm==3.2.0
fonttools==4.29.1
fpdf==1.7.2
idna==3.3
Jinja2==3.0.3
kiwisolver==1.3.2
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.5.1
munkres==1.1.4
murmurhash==1.0.6
numpy==1.22.1
packaging==21.3
pathy==0.6.1
Pillow==9.0.0
pip==22.0.3
preshed==3.0.6
pycparser==2.21
pydantic==1.8.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.27.1
setuptools==60.7.1
shellingham==1.4.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
thinc==8.0.13
tornado==6.1
tqdm==4.62.3
typer==0.4.0
typing_extensions==4.0.1
unicodedata2==14.0.0
urllib3==1.26.8
wasabi==0.9.0
wheel==0.37.1
